<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704744310821-iqnqeh78g07rfv7q16a72al2av24mqvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704744310821-iqnqeh78g07rfv7q16a72al2av24mqvi</string>
	<key>API_KEY</key>
	<string>AIzaSyAKrRZG1egrRwPthv6km1tpdKNMIJYWKCg</string>
	<key>GCM_SENDER_ID</key>
	<string>704744310821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martin.test</string>
	<key>PROJECT_ID</key>
	<string>test-9b2a6</string>
	<key>STORAGE_BUCKET</key>
	<string>test-9b2a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704744310821:ios:cb2c425e656a93196c97cc</string>
</dict>
</plist>